.fume-grey {
    color: #434343; 
}

.light-blue {
    color: #68d9ff; 
}

body {
    background-color: #343434; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
}

.container-wrapper {
    display: flex;
    justify-content: center;
}
.giris-container {
    max-width: flex;
    width: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 0 3px; 
    margin-top: 35px;
    display: inline-block;
    text-align: center;
}

.container,
.sub-container {
    max-width: 400px;
    width: 45%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 0 3px; 
    margin-top: 35px;
    display: inline-block;
    text-align: center;
}

.todo-list,
.done-list {
    list-style-type: none;
    padding: 0;
}

.todo-list li,
.done-list li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-list li:hover,
.done-list li:hover {
    background-color: #e6e6e6;
}

h1 {
    color: #333333; 
    text-align: center;
}

.input-box {
    width: calc(100% - 80px);
    border: 1px solid #BFBFBF; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    width: 80px;
    background-color: #ADD8E6; 
    color: #ffffff; 
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:hover {
    background-color: #8DB6CD; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #EEEEEE; 
    padding: 10px;
}

li:last-child {
    border-bottom: none; 
}

li:hover {
    background-color: #F9F9F9; 
}

.undo-button {
    font-size: large;
    float: inline-end;
    color: rgb(96, 96, 96);
    background: none;
    border: none;
    cursor: pointer;
}
.delete-button {
    font-size: large;
    float: inline-end;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

.undo-button:hover,
.delete-button:hover {
    opacity: 0.7;
}
